        html{
            scroll-behavior: smooth;
        }

        /* CSS Inline para visualização rápida */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
        }

        header {
            background-color: #0078D4;
            padding: 20px;
            text-align: center;
            color: white;
        }

        header img {
            width: 50px;
            vertical-align: middle;
            border-radius: 8px;
        }

        header h1 {
            display: inline;
            margin-left: 10px;
            font-size: 24px;
        }

        main {
            padding: 20px;
            max-width: 800px;
            margin: auto;
        }

        .alert {
            background-color: #ff1900ce;
            color: white;
            padding: 15px;
            border-radius: 5px;
            margin-bottom: 20px;
            text-align: center;
        }

        .search {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }

        .search h2 {
            margin-bottom: 15px;
        }

        .search input, select ,.search button {
            padding: 10px;
            margin: 5px 0;
            width: 100%;
            box-sizing: border-box;
        }

        .search button {
            background-color: #0078D4;
            color: white;
            border: none;
            cursor: pointer;
        }

        .search button:hover {
            background-color: #005BB5;
        }

        .register {
            text-align: center;
        }

        .register a {
            color: #0078D4;
            text-decoration: none;
            font-weight: bold;
        }

        .register a:hover {
            text-decoration: underline;
        }

        .viagem {
            background-color: white;
            border: 1px solid #ddd;
            border-radius: 10px;
            padding: 10px;
            margin: 10px auto;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            max-width: 600px;
            text-align: center;
        }

        .viagem h3 {
            color: #0078D4;
            margin-bottom: 10px;
        }

        .viagem p {
            margin: 5px 0;
            color: #555;
        }

        .viagem p:last-child {
            font-weight: bold;
            color: #333;
        }